<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<!-- sick tim571 -->
  <xacro:macro name="laser" params="link">
    <link name="${link}">
      <!-- <visual>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
            <box size="0.1 0.1 0.1"/>
        </geometry>
      </visual>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
            <box size="0.1 0.1 0.1"/>
        </geometry>
      </collision> -->
    </link>

    <gazebo reference="${link}">
      <sensor name="${link}" type="ray">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>15</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>360</samples>
              <resolution>1.000000</resolution>
              <min_angle>${-pi*130/180}</min_angle>
              <max_angle>${pi*130/180}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.2</min>
            <max>25.0</max>
            <resolution>0.01000</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin name="${link}_scan" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <remapping>~/out:=/cfr/${link}/scan</remapping>
          </ros>
          <output_type>sensor_msgs/LaserScan</output_type>
          <frame_name>${link}</frame_name>
        </plugin>
      </sensor>
  </gazebo>

  </xacro:macro>
</robot>