<?xml version="1.0"?>
<launch>

  <arg name="robot_namespace" default="/"/>

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <arg name="yaw" default="0.0"/>

  <!-- Optionally disable teleop control -->
  <arg name="joystick" default="false" />

  <group ns="$(arg robot_namespace)">

      <!-- <include file="$(find cfr_control)/launch/control.launch">
        <arg name="multimaster" value="$(arg multimaster)"/>
        <arg name="laser_enabled" value="$(arg laser_enabled)"/>
        <arg name="realsense_enabled" default="$(arg realsense_enabled)"/>
        <arg name="urdf_extras" value="$(arg urdf_extras)"/>
      </include>
      <include file="$(find cfr_control)/launch/teleop.launch">
        <arg name="joystick" value="$(arg joystick)" />
      </include> -->

    <!-- Spawn robot in gazebo -->
    <node name="spawn_cfr_model" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg x)
              -y $(arg y)
              -z $(arg z)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param robot_description
              -model $(arg robot_namespace)" />

  </group>

</launch>
